[submodule "Topology3D"]
	path = Topology3D
	url = https://github.com/netgroup/Dreamer-Topology-Designer.git
[submodule "Dreamer-Topology-and-Service-Validator"]
	path = Dreamer-Topology-and-Service-Validator
	url = https://github.com/netgroup/Dreamer-Topology-and-Service-Validator.git
[submodule "Dreamer-Experiment-Handler"]
	path = Dreamer-Experiment-Handler
	url = https://github.com/netgroup/Dreamer-Experiment-Handler.git
[submodule "Dreamer-Measurements-Tools"]
	path = Dreamer-Measurements-Tools
	url = https://github.com/netgroup/Dreamer-Measurements-Tools
[submodule "Dreamer-Management-Scripts"]
	path = Dreamer-Management-Scripts
	url = https://github.com/netgroup/Dreamer-Management-Scripts
